@{
    ViewBag.Title = "title";
}
<h2>Complete Your Profile</h2>
<div class="panel panel-transparent" data-ng-app="ubuild.app">
    <div class="panel-body" data-ng-controller="UpdateProfileController as vm">
        <form id="form-project" role="form" autocomplete="off" novalidate="novalidate">
            <p>Basic Information</p>
            <div class="form-group-attached">

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Title</label>
                            <input type="text" class="form-control" data-ng-model="vm.profile.Title"  name="Title" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>First name</label>
                            <input type="text" class="form-control" data-ng-model="vm.profile.FirstName" name="FirstName" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Middle name</label>
                            <input type="text" class="form-control" data-ng-model="vm.profile.MiddleName" name="MiddleName">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Last name</label>
                            <input type="text" class="form-control" name="LastName">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Maiden name</label>
                            <input type="text" class="form-control" name="firstName" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Mothers Maiden name</label>
                            <input type="text" class="form-control" name="firstName" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Date of birth </label>
                            <input type="text" class="form-control" name="DateOfBirth">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Place of birth</label>
                            <input type="text" class="form-control"  name="PlaceOfBirth">
                        </div>
                    </div>
                </div>


            </div>

            <div class="form-group-attached">

                <p class="m-t-10"></p>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <label>Gender</label>
                        <div class="form-group">
                            <div class="radio radio-success">
                                <input type="radio" value="male" name="Gender"  aria-invalid="false">
                                <label for="male">Male</label>
                                <input type="radio" checked="checked" value="female" name="Gender">
                                <label for="female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <label>Marital Status</label>
                        <div class="form-group">
                            <div class="radio radio-success">
                                <input type="radio" value="male" name="optionyes" id="male" aria-invalid="false">
                                <label for="male">Single</label>
                                <input type="radio" checked="checked" value="female" name="optionyes" id="female">
                                <label for="female">Married</label>
                                <input type="radio" checked="checked" value="female" name="optionyes" id="female">
                                <label for="female">Divorced</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Nationality</label>
                            <input type="text" class="form-control" name="Nationality" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Occupation</label>
                            <input type="text" class="form-control" name="Occupation" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Mobile Phone</label>
                            <input type="text" class="form-control" name="MobilePhone">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Email Address</label>
                            <input type="text" class="form-control" name="EmailAddress">
                        </div>
                    </div>
                </div>

            </div>



            <div class="form-group-attached">

                <p class="m-t-10">Residential Information</p>
                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Resident Permit No</label>
                            <input type="text" class="form-control" name="ResidentPermitNo" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Permit Issue Date</label>
                            <input type="text" class="form-control" name="PermitIssueDate" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Permit Issue Place</label>
                            <input type="text" class="form-control" name="PermitIssuePlace">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>PermitExpiryDate</label>
                            <input type="text" class="form-control" name="PermitExpiryDate">
                        </div>
                    </div>
                </div>


                <div class="row clearfix">

                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Residential Address</label>
                            <input type="text" class="form-control" name="ResidentialAddress" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Social Security No</label>
                            <input type="text" class="form-control" name="SocialSecurityNo" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Postal Address</label>
                            <input type="text" class="form-control" name="PostalAddress">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>City Of Residence</label>
                            <input type="text" class="form-control" name="CityOfResidence">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Country Of Residence</label>
                            <input type="text" class="form-control" name="CountryOfResidence" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Residential Phone</label>
                            <input type="text" class="form-control" name="ResidentialPhone" required="" aria-required="true">
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group-attached">
                <p class="m-t-10">Identification</p>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>ID Card Type</label>
                            <input type="text" class="form-control" name="IdCardType" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>ID Card Number </label>
                            <input type="text" class="form-control" name="IdCardNumber" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>ID Issue Date</label>
                            <input type="text" class="form-control" name="IdIssueDate">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>ID Issue Country</label>
                            <input type="text" class="form-control" name="IdIssueCountry">
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>ID Expiry Date</label>
                            <input type="text" class="form-control" name="ResidentialAddress" required="" aria-required="true">
                        </div>
                    </div>

                </div>


            </div>


            <div class="form-group-attached">
                <p class="m-t-10">Employment Information</p> 
                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Employment Status</label>
                            <input type="text" class="form-control" name="EmploymentStatus" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Employer Name </label>
                            <input type="text" class="form-control" name="EmployerName" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Employer City </label>
                            <input type="text" class="form-control" name="EmployerCity">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Employer Country </label>
                            <input type="text" class="form-control" name="EmployerCountry">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Employer Type OfBiz </label>
                            <input type="text" class="form-control" name="EmployerTypeOfBiz" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Employer Phone .No </label>
                            <input type="text" class="form-control" name="EmployerPhoneNo" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Employer Email </label>
                            <input type="text" class="form-control" name="EmployerEmail">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>Years at current Employment </label>
                            <input type="text" class="form-control" name="CurrentEmplLength">
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>Monthly Salary </label>
                            <input type="text" class="form-control" name="MonthlySalary" required="" aria-required="true">
                        </div>
                    </div>

                </div>


            </div>

          

               <div class="form-group-attached">
                <p class="m-t-10">Emergency Contact</p>


                 
                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>EmergencyContactTitle </label>
                            <input type="text" class="form-control" name="EmergencyContactTitle" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>EmergencyContactFirstName </label>
                            <input type="text" class="form-control" name="EmergencyContactFirstName" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>EmergencycontactLastName </label>
                            <input type="text" class="form-control" name="EmergencycontactLastName">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>EmergencyConactPhone  </label>
                            <input type="text" class="form-control" name="EmergencyConactPhone">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>EmergencyContactAddress </label>
                            <input type="text" class="form-control" name="EmployerTypeOfBiz" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default required" aria-required="true">
                            <label>EEmergencyContactEmail </label>
                            <input type="text" class="form-control" name="EmployerPhoneNo" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-default">
                            <label>EmergencyContactRship </label>
                            <input type="text" class="form-control" name="EmployerEmail">
                        </div>
                    </div>
                    
                </div> 

            </div> 
 
       
            <br>
            <button class="btn btn-success" type="submit" data-ng-click="vm.">Submit</button>
             <div class="popover fade top in" role="tooltip" id="popover21638" style="top: 32px; left: 136.875px; display: block;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">This field is required.</div></div>
        </form>
    </div>
</div>

          


 
