/****** PLACE YOUR CUSTOM STYLES HERE ******/

.menu li a {
    color: #d1262b
}

.nav-utility {
    border-bottom: 1px solid #d53a3f;
}

.text-tabs .tab-title:after {
    background: #b7244c;
    height:4px
}

.header {
    padding: 0
}

.horizontal-app-menu .menu-bar {
    background: #fff;
    padding-left: 25px
}

.btn:hover {
    background: #670a08;
    color: #fff;
}
.btn-filled {
    background: #b52725;
    color: #fff;
    border: none
}

input[type="submit"], button[type="submit"] {
    height: 50px;
    line-height: 48px;
    border: 0;
    background: #b52725;
    color: #fff;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 !important;
}

/* start step form css*/
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}


/*form styles*/
#msform {
    
    margin: 50px auto;
    text-align: center;
    position: relative;
    margin-left: 0;
}

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        /*margin: 0 10%;*/
        /*stacking fieldsets above each other*/
        position: relative;
    }
        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }
    /*inputs*/
    /*#msform input, #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }*/
    /*buttons*/
     .action-button {
        width: auto;
        background: #a542409e;
        font-weight: bold;
         color: white; 
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 15px;
        margin: 10px 5px;
        border: none
    }
        .action-button[disabled] {
            width: 100px;
            background: #a699999e;
            font-weight: bold;
            /* color: white; */
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
            border: none
        }

        .action-button:hover,  .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #a542409e;
        }
        .action-button[disabled]:hover,  .action-button[disabled]:focus {
            box-shadow: none
        }
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    width: 800px;
    
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbar li {
        list-style-type: none;
        
        text-transform: uppercase;
        font-size: 11px;
        width: 15.33%;
        float: left;
        position: relative;
    }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }
        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #27AE60;
            color: white;
        }



/*end stepform css */


.swal-button--catch {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #d46b27eb;
    color: #fff;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}


/* pages forms*/

.form-group-default {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    width: 100%;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.form-group {
    margin-bottom: 10px;
}
form-group label:not(.error) {
    font-family: 'Montserrat';
    font-size: 10.5px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
}

.form-group-default label {
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.form-group-default .form-control {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: none;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}

.form-group-default.required:after {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}
.form-group-default.form-group-default-select2 {
    padding: 0;
}

select.full-width + .select2-container {
    width: 100% !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single {
    padding-top: 20px;
    height: 52px;
    border: 0 !important;
}

.select2-container .select2-selection.select2-selection--single {
    height: 35px;
}

.form-group-default .select2-container .select2-selection, .select2-container-multi .select2-choices {
    border-color: transparent;
}

.select2-container .select2-selection {
    background-image: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding: 2px 9px;
    transition: border 0.2s linear 0s;
}

    .select2-container .select2-selection .select2-selection__rendered {
        padding: 0;
        padding-left: 3px;
        padding-top: 1px;
    }

.select2-container .select2-selection .select2-selection__arrow {
    top: auto;
    bottom: 5px;
    right: 10px !important;
    left: auto;
    background: transparent;
    border-left: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f3f3f3;
     color: #2c2c2c; 
}

#house_selction_list li .card {
    margin-top: 15px;
}

#house_selction_list {
    width: inherit;

}

house_selction_list li {

}

/*#house_selction_list li input[type="radio"] {
    visibility: hidden
}*/

#house_selction_list li:hover {
    background: antiquewhite
}

div.cs-skin-slide {
    width: auto;
    font-family: Arial, sans-serif;
    color: #5e5e5e;
}

div.cs-skin-slide {
    color: #fff;
    /* font-size: 1.5em; */
    width: 300px;
}

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cs-select {
    background-color: transparent;
}
    .cs-select .cs-placeholder {
        width: 100%;
    }

div.cs-skin-slide > span {
    height: 35px;
    padding: 6px 33px 6px 17px;
    line-height: 23px;
    z-index: 1;
}

.cs-select span {
    text-overflow: initial;
}

.cs-skin-slide > span {
    height: 80px;
    line-height: 32px;
    -webkit-transition: text-indent 0.3s, opacity 0.3s;
    transition: text-indent 0.3s, opacity 0.3s;
}

.cs-select > span {
    padding-right: 3em;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.cs-skin-slide > span:after, div.cs-skin-slide.cs-active > span:after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #5e5e5e;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-select > span::after, .cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div.cs-skin-slide .cs-options {
    height: auto;
    padding: 9px 0;
    width: auto;
    padding: 10px;
    max-height: 350px;
    transform: translate3d(1, 1, 1);
    overflow: hidden;
    z-index: 1;
}

.cs-skin-slide .cs-options {
    background: transparent;
    width: 70%;
    height: 400%;
    padding: 1.9em 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(-50%, -50%);
}

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}
div.cs-skin-slide .cs-options ul {
    width: 100%;
    display: table;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.cs-skin-slide .cs-options ul li {
    display: table-row;
}

.cs-skin-slide .cs-options li {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cs-select select {
    display: none;
}

.cs-select {
    background-color: transparent;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.cs-backdrop {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
div.cs-skin-slide .cs-options ul li span {
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    padding: 5px 0;
    text-transform: none;
    max-height: 350px;
    overflow-y: auto;
    color: #a17c7c;
}

#houseDesignWrapper {
    min-height: 700px;
    margin-top: 20px;
}

#houseDesignWrapper .row { }

#sidebar_design {
   
    height: -webkit-fill-available;
}

#customizationTable td {
    margin-right: 5px
}

#customizationTable td img {
    width: 125px;

}

@media (min-width: 1280px) 
.rh_prop_card .rh_prop_card__details {
    padding: 2.5rem;
}

@media (min-width: 1140px) 
.rh_prop_card .rh_prop_card__details {
    padding: 2rem;
}

@media (min-width: 1024px) 

.rh_prop_card .rh_prop_card__details {
    padding: 2rem;
}

@media (min-width: 768px)
.rh_prop_card .rh_prop_card__details {
    padding: 2.5rem;
}

@media (min-width: 480px) 
.rh_prop_card .rh_prop_card__details {
    padding: 2.5rem;
}

@media (min-width: 320px) 
.rh_prop_card .rh_prop_card__details {
    padding: 2rem;
}

.rh_prop_card .rh_prop_card__details {
    display: block;
    width: 100%;
    background: #fff;
    padding: 30px;
    text-align: left;
}

rh_prop_card .rh_prop_card__details .rh_prop_card__meta_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

@media (min-width: 1280px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

@media (min-width: 1140px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 1024px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 768px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 480px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

@media (min-width: 320px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

@media (min-width: 1280px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

@media (min-width: 1140px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 1024px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 768px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

@media (min-width: 480px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

@media (min-width: 320px) 
.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1rem 1rem 0;
}

.rh_prop_card .rh_prop_card__details .rh_prop_card__meta {
    padding: 0 1.5rem 1.5rem 0;
}

    .rh_prop_card .rh_prop_card__details .rh_prop_card__meta svg {
        fill: #b3b3b3;
    }

svg:not(:root) {
    overflow: hidden;
}

.rh_svg {
    fill: #1ea69a;
}

.rh_prop_card .rh_prop_card__details .rh_prop_card__meta .figure {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0 0 1rem;
    line-height: 1.2;
}

.rh_prop_card .rh_prop_card__details .rh_prop_card__meta h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

.rh_prop_card .rh_prop_card__details .rh_prop_card__meta .label {
    font-size: 1.3rem;
    padding: 0 0 0 0.3rem;
    font-weight: 400;
    line-height: 1.2;
}
.rh_prop_card__priceLabel h4{
    margin-bottom: 10px
}