@model uBuildCore.Models.HouseDesigns
@{
    Layout = "../Shared/_Layout.cshtml";
}
<input type="hidden" id="__selected_house_id" value="@Model.RecordId" />
<input type="hidden" id="__selected_house_cost" value="@Model.BareDesignCost" />
<input type="hidden" id="__selected_house_currency" value="@Model.ISOCode" />
<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">Home Design</h2>
                <p class="lead mb0">You can customize your chosen home . </p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">Home Design</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="container-fluid" id="houseDesignWrapper" data-ng-controller="HouseDesignController as vm">
    <div class="row" style="margin-top: -85px">
        <div class="col-md-9">
            <div class="row">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <div class="col-md-12" style="height: 530px">
                            <img src="/images/1.jpeg" class="img-responsive img-rounded" alt="Cinque Terre"
                                 style="width: 50%; height: auto;transform: rotate(90deg) translateY(-177px) translateX(-185px)">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default form-group-default-select2 " style="height: 60px">
                                            <label class="">Customizable Items List</label>
                                            <select class="full-width select2-hidden-accessible" data-placeholder="Select Item" data-init-plugin="select2" tabindex="-1" aria-hidden="true" data-ng-options="item as item.ItemDescription for item in vm.customizables" data-ng-model="vm.model.selectedCustomizable">
                                                <option value="">Select Customizable..</option>
                                            </select>
                                            <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 334px;">
                                                <span class="selection">
                                                    <span class="select2-selection select2-selection--single" role="combobox"
                                                          aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-u1vf-container">
                                                    </span>
                                                </span><span class="dropdown-wrapper" aria-hidden="true"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style="max-height: 310px; overflow: auto;">
                                        <select class="image-picker show-html">
                                            <option data-ng-repeat="ff in vvm.fixtureFittings" data-img-src="/images/1.jpeg" data-img-alt="Page 1" value="1" data-ng-click="vm.fixtureSelected(ff)">{{ff.ItemDescription}}</option>

                                             
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3" id="sidebar_design">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>Base house cost + Customizations</h3>
                    <h3><span data-ng-bind="vm.model.houseCostCurrency"></span> <span data-ng-bind="vm.model.houseCost"></span></h3>
                </div>
                <div class="panel-body">
                    <table class="table cart mb48">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="(key, value) in vm.model.selectedFixtures">
                                <th scope="row">
                                    <a href="#" class="remove-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from cart" data-ng-click="vm.deleteFixture(value.RecordId)">
                                        <i class="ti-close"></i>
                                    </a>
                                </th>
                                <td>
                                    <a href="#">
                                        <img alt="Product" class="product-thumb" src="/images/{{value.ItemImage}}" style="width: 90%" />
                                    </a>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.UnitCost | currency:'GHS'"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="#" class="remove-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from cart">
                                        <i class="ti-close"></i>
                                    </a>
                                </th>
                                <td>
                                    <a href="#">
                                        <img alt="Product" class="product-thumb" src="/images/saple.jpg" style="width: 90%" />
                                    </a>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span>$49.95</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="#" class="remove-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from cart">
                                        <i class="ti-close"></i>
                                    </a>
                                </th>
                                <td>
                                    <a href="#">
                                        <img alt="Product" class="product-thumb" src="/images/saple.jpg" style="width: 90%" />
                                    </a>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span>$49.95</span>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <form>
                        <p>You may be elligible for a loan to own this house. </p>
                        <div class="form-group form-group-default input-group">
                            <label for="houseEligibility" class="ng-binding">Please enter Loan Tenure.</label>
                            <select data-ng-model="vm.model.tenure" id="loanTenure" placeholder="Loan Tenure" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                <option value="">Select Loan Tenure</option>
                                <option data-ng-repeat="t in vm.getTenureRange()" value="{{t}}">{{t}}</option>
                            </select> 
                        </div>
                        <div class="form-group form-group-default input-group">
                            <label for="houseEligibility" class="ng-binding">Please enter your monthly.</label>
                            <input autocomplete="off" data-ng-model="vm.model.income" id="houseEligibility" placeholder="Monthly Income here" type="Text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                            <span class="input-group-addon primary p-r-15 p-l-15" style="cursor: pointer;background: #ac5e81" data-ng-click="vm.checkEligibility()">
                                Submit
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>