@model dynamic

@{
    ViewBag.Title = "Check Load Eligibility";
    Layout = "~/views/shared/_Layout.cshtml";
}

<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">Check Loan eligibility</h2>
                <p class="lead mb0">Find out if you are able to take a loan with us.</p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">Check Eligibility</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section ng-controller="EligibilityCtrl" ng-init="init()" style="margin-top: -60px">
    <div class="card-progress" data-ng-show="loading" style="background-color: rgba(255, 255, 255, 0.8); display: block;">
        <div class="progress-circle-indeterminate progress-circle-master"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-sm-12 ">
                <form novalidate="">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="fs-title" title="Choose Fullhouse or Phase to proceed to loan applications" style="margin-bottom: 0">Choose Loan Type</h2>
                            <div>
                                <select class="" data-ng-model="builder.loanType">
                                    <option value="">-Select Loan Type-</option>
                                    <option value="Fullhouse">Full house</option>
                                    <option value="Phase">Phase</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="builder.loanType=='Phase'">
                        <div class="col-md-10">
                            <h2 class="fs-title" style="margin-bottom: 0">Choose Phase</h2>
                            <div>
                                <select class="" data-ng-model="builder.phase" data-ng-options="item.RecordId as item.PhaseName for item in buildingPhases">
                                    <option value="">-Select Phase-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-10">
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default input-group">
                                            <label for="houseEligibility" class="ng-binding">Please enter Loan Tenure.</label>
                                            <select data-ng-model="builder.loanTenure" id="loanTenure" placeholder="Loan Tenure" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                                <option value="">Select Loan Tenure</option>
                                                <option data-ng-repeat="t in getTenureRange()" value="{{t}}">{{t}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default input-group">
                                            <label for="houseEligibility" class="ng-binding">Tenure Unit.</label>
                                            <select data-ng-model="builder.loanTenureUnit" id="loanTenureUnit" placeholder="Loan Tenure" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                                <option selected="selected" value="Years">Year(s)</option>
                                                <option value="Months">Months</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group form-group-default ">
                                <label>Choose Currency</label>
                                <div class="radio radio-success">
                                    <input type="radio" checked="checked" ng-model="builder.currency" name="currency" value="GHS" id="currencyGHS">
                                    <label for="currencyGHS">GHS</label>
                                    <input type="radio" ng-model="builder.currency" name="currency" id="currencyUSD" value="USD">
                                    <label for="currencyUSD">USD</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group form-group-default input-group">
                                <label for="houseEligibility_loanAmount" class="ng-binding">Please enter Loan Amount.</label>
                                <input autocomplete="off" data-ng-model="builder.loanAmount" id="houseEligibility_loanAmount" placeholder="Loan Amount here" type="number" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group form-group-default input-group">
                                <label for="houseEligibility" class="ng-binding">Please enter your monthly.</label>
                                <input autocomplete="off" data-ng-model="builder.monthlyIncome" id="houseEligibility" placeholder="Monthly Income here" type="number" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="">
                                <span data-ng-show="builder.loanTenure && builder.monthlyIncome && builder.loanType" class="input-group-addon primary p-r-15 p-l-15" style="cursor: pointer; background: #ac5e81" data-ng-click="checkEligibility()">
                                    Submit
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
