@model dynamic

@{
    ViewBag.Title = "Check Load Eligibility";
    Layout = "~/views/shared/_Layout.cshtml";
}

<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">Check Loan eligibility</h2>
                <p class="lead mb0">Find out if you are able to take a loan with us.</p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">Check Eligibility</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section ng-controller="EligibilityCtrl" ng-init="init()" style="padding-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-sm-12 text-center">
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Choose Loan Type</li>
                        <li ng-if="builder.loanType=='Phase'">Choose Phase </li>
                        <li>Your Status</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Choose Loan Type</h2>
                        <div class="radio radio-success">
                            <span title="Choose this loan type buy a full house">
                                <input type="radio" checked="checked" ng-model="builder.loanType" name="loanType" value="Fullhouse" id="fullhouse">
                                <label for="fullhouse">Full House</label>
                            </span>
                            <span style="display: inline-block" title="Choose this loan type to complete a particular phase of your building project ">
                                <input type="radio" ng-model="builder.loanType" name="loanType" id="phase" value="Phase">
                                <label for="phase">Phase</label>
                            </span>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" title="Select a loan type to continue." ng-disabled="!builder.loanType"/>
                    </fieldset>
                    <fieldset ng-show="builder.loanType=='Phase'">
                        <h2 class="fs-title">Choose Phase</h2>
                        <div>
                            <select class="" ng-model="builder.phase">
                                <option value="">-Select Phase-</option>
                                <option>Land</option>
                                <option>Foundation</option>
                                <option>Walls</option>
                                <option>Roof</option>
                                <option>Fittings and Fixtures</option>
                            </select>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" title="Complete form to continue." ng-disabled="!builder.phase"/>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Enter your financials</h2>
                        <div>
                            <div class="form-group">
                                <label>Choose Currency</label>
                                <div class="radio radio-success">
                                    <input type="radio" checked="checked" ng-model="builder.currency" name="currency" value="GHS" id="currencyGHS">
                                    <label for="currencyGHS">GHS</label>
                                    <input type="radio" ng-model="builder.currency" name="currency" id="currencyUSD" value="USD">
                                    <label for="currencyUSD">USD</label>
                                </div>
                            </div>
                            <div class="form-group form-group-default" ng-show="builder.currency" title="How much do you earn monthly?">
                                <label>Enter your Monthly Income</label>
                                <div class="irs-wrapper danger">
                                    <input type="text" name="" ng-model="builder.monthlyIncome" value="0" id="loan_monthly_income" />
                                </div>
                            </div>
                            <div class="form-group form-group-default" ng-show="builder.currency">
                                <label>Loan Amount</label>
                                <div class="irs-wrapper danger">
                                    <input type="text" name="" ng-model="builder.loanAmount" value="0" id="loan_amount" />
                                </div>
                            </div>
                            <div class="form-group form-group-default" ng-show="builder.currency">
                                <label>Interest Rate (Fixed)</label>
                                <div class="irs-wrapper danger">
                                    <input type="text" name="" ng-model="builder.loanInterestRate" value="0;100" id="loan_Irate" />
                                </div>
                            </div>

                            <div class="form-group form-group-default" ng-show="builder.currency">
                                <label>Enter Loan Tenure(Years)</label>
                                <div class="irs-wrapper danger">
                                    <input type="text" name="" ng-model="builder.loanTenure" value="12,24" id="loan_Tenure" />
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" data-ng-show="builder.currency" data-ng-click="checkEligibility()" style="width: 200px" class="action-button" value="Check Eligibility" />
                        <div class="card-progress" data-ng-show="loading" style="background-color: rgba(255, 255, 255, 0.8); display: block;">
                            <div class="progress-circle-indeterminate progress-circle-master"></div>
                        </div>
                    </fieldset>
                   
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
