
@{
    ViewBag.Title = "Frequently asked questions.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">FAQs</h2>
                <p class="lead mb0">Frequently asked questions</p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">FaQs</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section style="top:-80px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingOne">
                            <h4 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
                                    1. What is U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabcard" aria-labelledby="headingOne">
                            <div class="card-block">
                                U-Build is a model that makes it simple and easy to self-build your own home rather than purchasing an already complete house on the market. U-Build allows you to build a house that’s tailored to your design requirements, lifestyle and budget.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwo">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. Who can use U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabcard" aria-labelledby="headingTwo">
                            <div class="card-block">
                                U-Build can be used by anyone who is interested in building a residential property using their own design or one of the designs we have provided here.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingThree">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3. Can I use U-Build to renovate my house?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabcard" aria-labelledby="headingThree">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFour">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    4. What type of house can I build with U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabcard" aria-labelledby="headingFour">
                            <div class="card-block">
                                If you chose one of our house designs you can build a 2-bedroom house or a 3 bedroom house. If you decide to use your own design, it can include anything from a 1 bedroom house to a 5 bedroom house.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFive">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                    5. Can U-Build help me buy and register land?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabcard" aria-labelledby="headingFive">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSix">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                    6. How do I log in and out of my profile/account?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabcard" aria-labelledby="headingSix">
                            <div class="card-block">
                                To login, click on the login button at the top right-hand corner of the U-Build Homepage. In order to login successfully, you need to register by creating a user ID and a password.
                                it requires that you should have sign in first through the self-registered menu to acquire If you have already created a user ID and a password, you should go straight to the login tab and provide your login details to access the platform.

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSeven">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                    7. What do I do if I forget my log in and password?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabcard" aria-labelledby="headingSeven">
                            <div class="card-block">
                                You can reset your password yourself or you may contact the Bank on the toll-free number for a new password to be generated for you.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingEight">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                    8. Do I need to create an account/profile to shop for my project?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="collapse" role="tabcard" aria-labelledby="headingEight">
                            <div class="card-block">
                                No, you can browse items on the U-Build Market Place without an account/ profile but in order to make a purchase you will have to register
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingNine">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                                    9. What security verifications do I need?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="collapse" role="tabcard" aria-labelledby="headingNine">
                            <div class="card-block">
                                You need a unique User ID and an alphanumeric password to be able to access the platform.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                                    10. How do I edit my profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabcard" aria-labelledby="headingTen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingEleven">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                                    11. Why does U-build need to verify my identity?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="collapse" role="tabcard" aria-labelledby="headingEleven">
                            <div class="card-block">
                                U-Build will not directly verify your identity but U-Build will ensure that all the personal information required to apply for a loan is complete and accurate.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwelve">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                                    12. How much money can I borrow to build my house?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="collapse" role="tabcard" aria-labelledby="headingTwelve">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingThirteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
                                    13. How much time do I have to repay my loan?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="collapse" role="tabcard" aria-labelledby="headingThirteen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFourteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    14. If I am unable to pay my loan will my house be taken away from me?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="collapse" role="tabcard" aria-labelledby="headingFourteen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFifteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                    15. What are the requirements to apply for a loan?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFifteen" class="collapse" role="tabcard" aria-labelledby="headingFifteen">
                            <div class="card-block">
                                You need to check on the loan calculator to determine whether you qualify for the loan amount you need. You can then proceed to apply for the loan, which will require you to submit some basic information for our team to access your application viability. Once you begin the loan application process, you will receive a tracking number which you can use to track the progress of your loan application in the system.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSixteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                    16. My loan application has been rejected, can I re-apply?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixteen" class="collapse" role="tabcard" aria-labelledby="headingSixteen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSeventeen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                    17. My loan application has been approved but I no longer want the loan, what do I do?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeventeen" class="collapse" role="tabcard" aria-labelledby="headingSeventeen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingEighteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                    18. Can I make partial payments and request a loan to pay off?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEighteen" class="collapse" role="tabcard" aria-labelledby="headingEighteen">
                            <div class="card-block">
                                Yes, but you will have to use our loan calculator to check whether you qualify to access the amount involved.
                            </div>
                        </div>
                    </div>


                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingNineteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                    19. Can I schedule payments to be delivered on a future date or set up automatic monthly debits from my account?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNineteen" class="collapse" role="tabcard" aria-labelledby="headingNineteen">
                            <div class="card-block">
                                Yes, but only if you have applied for a loan to purchase goods from a vendor.
                            </div>
                        </div>
                    </div>
                    <h5 style="padding: 5px;text-align: center;color: brown;">U-BUILD MARKET PLACE</h5>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwenty">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                    20. What is U-Build Market Place?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwenty" class="collapse" role="tabcard" aria-labelledby="headingTwenty">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyOne">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                                    21. Are the prices quoted in the U-Build Market Place discounted?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyOne" class="collapse" role="tabcard" aria-labelledby="headingTwentyOne">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyTwo">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                                    22 How do I make a purchase?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyTwo" class="collapse" role="tabcard" aria-labelledby="headingTwentyTwo">
                            <div class="card-block">
                                Explore You can make a purchase through VISA, MasterCard or Mobile Money from MTN, AirtelTigo or Vodafone
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyThree">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                                    23 Can I make multiple purchases?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyThree" class="collapse" role="tabcard" aria-labelledby="headingTwentyThree">
                            <div class="card-block">
                                Yes
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyFour">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                                    24 What payment options are available?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyFour" class="collapse" role="tabcard" aria-labelledby="headingTwentyFour">
                            <div class="card-block">
                                The various payments options available include VISA, MasterCard and Mobile Money.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyFive">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                                    25 Do I need a GHL Bank account to make a purchase?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyFive" class="collapse" role="tabcard" aria-labelledby="headingTwentyFive">
                            <div class="card-block">
                                No.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentySix">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                                    26 How do I contact a vendor/supplier?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentySix" class="collapse" role="tabcard" aria-labelledby="headingTwentySix">
                            <div class="card-block">
                                You can contact a vendor or a supplier through a messaging tab provided on the U-Build Market Place interface.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentySeven">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
                                    27 How do I authenticate a vendor/supplier?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentySeven" class="collapse" role="tabcard" aria-labelledby="headingTwentySeven">
                            <div class="card-block">
                                All vendors and suppliers will be vetted before they are accepted on the uBuild platform. And this process is reviewed every six months to ensure that at any point in time all vendor and supplier information on the platform are up to date.
                            </div>
                        </div>
                    </div>
                    
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwentyEight">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
                                    28 Who do I contact if I have concerns not addressed by this FAQ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwentyEight" class="collapse" role="tabcard" aria-labelledby="headingTwentyEight">
                            <div class="card-block">
                                Please call our 24hr contact experience center or call our toll free number on the U-Build portal.
                            </div>
                        </div>
                    </div>


                </div>
                <!--end of text tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
