
@{
    ViewBag.Title = "Frequently asked questions.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">FAQs</h2>
                <p class="lead mb0">Frequently asked questions</p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">FaQs</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section style="top:-80px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingOne">
                            <h4 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
                                    1. What is U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabcard" aria-labelledby="headingOne">
                            <div class="card-block">
                                U-Build is a model that makes it simple and easy to self-build your own home rather than purchasing an already complete house on the market. U-Build allows you to build a house that’s tailored to your design requirements, lifestyle and budget.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwo">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. Who can use U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabcard" aria-labelledby="headingTwo">
                            <div class="card-block">
                                U-Build can be used by anyone who is interested in building a residential property using their own design or one of the designs we have provided here.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingThree">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3. Can I use U-Build to renovate my house?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabcard" aria-labelledby="headingThree">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFour">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    4. What type of house can I build with U-Build?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabcard" aria-labelledby="headingFour">
                            <div class="card-block">
                                If you chose one of our house designs you can build a 2-bedroom house or a 3 bedroom house. If you decide to use your own design, it can include anything from a 1 bedroom house to a 5 bedroom house.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFive">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                    5. Can U-Build help me buy and register land?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabcard" aria-labelledby="headingFive">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSix">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                    6. How do I log in and out of my profile/account?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabcard" aria-labelledby="headingSix">
                            <div class="card-block">
                                To login, click on the login button at the top right-hand corner of the U-Build Homepage. In order to login successfully, you need to register by creating a user ID and a password.
                                it requires that you should have sign in first through the self-registered menu to acquire If you have already created a user ID and a password, you should go straight to the login tab and provide your login details to access the platform.

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingSeven">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                    7. What do I do if I forget my log in and password?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabcard" aria-labelledby="headingSeven">
                            <div class="card-block">
                                You can reset your password yourself or you may contact the Bank on the toll-free number for a new password to be generated for you.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingEight">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                    8. Do I need to create an account/profile to shop for my project?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="collapse" role="tabcard" aria-labelledby="headingEight">
                            <div class="card-block">
                                No, you can browse items on the U-Build Market Place without an account/ profile but in order to make a purchase you will have to register
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingNine">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                                    9. What security verifications do I need?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="collapse" role="tabcard" aria-labelledby="headingNine">
                            <div class="card-block">
                                You need a unique User ID and an alphanumeric password to be able to access the platform.
                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                                    10. How do I edit my profile?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabcard" aria-labelledby="headingTen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingEleven">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                                    11. Why does U-build need to verify my identity?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="collapse" role="tabcard" aria-labelledby="headingEleven">
                            <div class="card-block">
                                U-Build will not directly verify your identity but U-Build will ensure that all the personal information required to apply for a loan is complete and accurate.
                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingTwelve">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                                    12. How much money can I borrow to build my house?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="collapse" role="tabcard" aria-labelledby="headingTwelve">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>
                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingThirteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
                                    13. How much time do I have to repay my loan?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="collapse" role="tabcard" aria-labelledby="headingThirteen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>

                    <div class="card card-default m-b-0">
                        <div class="card-header " role="tab" id="headingFourteen">
                            <h4 class="card-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    13. If I am unable to pay my loan will my house be taken away from me?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="collapse" role="tabcard" aria-labelledby="headingFourteen">
                            <div class="card-block">

                            </div>
                        </div>
                    </div>
                    
                <div class="card card-default m-b-0">
                    <div class="card-header " role="tab" id="headingFifteen">
                        <h4 class="card-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                13. What are the requirements to apply for a loan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFifteen" class="collapse" role="tabcard" aria-labelledby="headingFifteen">
                        <div class="card-block">
                            You need to check on the loan calculator to determine whether you qualify for the loan amount you need. You can then proceed to apply for the loan, which will require you to submit some basic information for our team to access your application viability. Once you begin the loan application process, you will receive a tracking number which you can use to track the progress of your loan application in the system.
                        </div>
                    </div>
                </div>

                </div>
                <!--end of text tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
