@model dynamic

@{
    ViewBag.Title = "Guidelines";

}

<section class="page-title page-title-2 image-bg overlay parallax" style="height:125px">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/home10.jpg&quot;); top: -100px;">
        <img alt="Background Image" class="background-image" src="img/home10.jpg" style="display: none;">
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 33px">
            <div class="col-md-6">
                <h2 class="uppercase mb8" style="font-size:25px;line-height:25px">Guidelines</h2>
                <p class="lead mb0">What do I need to apply for a loan.</p>
            </div>
            <div class="col-md-6 text-right hidden-xs hidden-sm">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { }, null)
                    </li>
                    <li class="active">Guidelines</li>
                </ol>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section style="margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>How to Register as New User</h3>
                <ul class="lead" data-bullet="ti-check-box" style="margin-left:30px">
                    <li>Click on the Log In button</li>
                    <li>Click “register as a new user” </li>
                    <li>Fill the form and click submit</li>
                    <li>The phone number you provided will need to be verified by entering a 6-digit code you will
                        receive via SMS and email.</li>
                    <li>Input your verification code and click submit</li>
                </ul>

                <h3>How to Log-In</h3>
                <ul class="lead" data-bullet="ti-check-box" style="margin-left:30px">
                    <li>Click on the @Html.ActionLink("Log","Login","Account") In button</li>
                    <li>Enter the email and your password you created during registration</li>
                    <li>Click submit</li>
                </ul>

                <h3>Eligibility Checker</h3>
                <p>
                <p>
                    If you already have your House Designs and Bill of Quantities for your self-build project, you can check
                    how much you are eligible to borrow.
                </p>
                <ul>
                    <li>You will need to choose whether you need funds for a full house or just a phase
                    
                        <ul class="lead" data-bullet="ti-arrow-right">
                            <li>Full House
                                <ul class="lead" style="margin-left:30px" data-bullet="ti-check-box">
                                    <li>You can select the currency in which you want the loan, GHS or USD</li>
                                    <li>You will need to enter your monthly income</li>
                                    <li>Enter your desired loan amount</li>
                                    <li>Choose your desired loan duration</li>
                                    <li>You can choose your desired loan tenure</li>
                                    <li>Click on Check Eligibility</li>
                                    <li>You will be provided with your maximum borrowing capacity and repayment amount</li>
                                    <li>If you are eligible for the amount, click on APPLY NOW</li>
                                </ul>
                            </li>
                            <li>Phase
                                <ul class="lead" style="margin-left:30px" data-bullet="ti-check-box">
                                    <li>Select the specific house construction phase you need to complete</li>
                                    <li>You can select the currency in which you want the loan, GHS or USD</li>
                                    <li>You will need to enter your monthly income</li>
                                    <li>Enter your desired loan amount</li>
                                    <li>Choose your desired loan duration</li>
                                    <li>You can choose your desired loan tenure</li>
                                    <li>Click on Check Eligibility</li>
                                    <li>You will be provided with your maximum borrowing capacity and repayment amount</li>
                                    <li>If you are eligible for the amount, click on APPLY NOW</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                </p>





                <h3>Start Exploring</h3>
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>
                        GHL Bank has provided various house designs for you to choose from :
                        <ul style="margin-left:30px" data-bullet="ti-check-box">
                            <li>1 bedroom expandable to 2 and 3</li>
                            <li>2 bedrooms expandable to 3</li>
                            <li>3 bedrooms</li>
                        </ul>
                    </li>

                    <li>The base cost of the house designs you choose will be displayed at the point of selection</li>
                    <li>You can customize all the fittings and fixtures on the selected house design</li>
                    <li>We will update your base cost with the customization costs</li>
                    <li>Once satisfied, choose your monthly income and desired loan tenure.</li>
                    <li>Click submit</li>
                    <li>You will be provided with your maximum borrowing capacity and repayment amount</li>
                    <li>Once satisfied, you can click on the APPLY NOW button</li>
                    <li>If you are not already registered, you will be redirected to the registration page to complete registration</li>
                </ul>


                <h3>Profile Registration</h3>
                <p>
                    If you are a GHL Bank Account Holder
                </p>
                
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>Kindly enter your account number</li>
                    <li>You will receive an OTP via phone and email to verify your information</li>
                    <li>Enter the token and click verify token</li>
                    <li>Once you have verified successfully, click on CONTINUE</li>
                    <li>Verify the information on your page and click on the “save and continue” button</li>
                </ul>
                <p>
                    If you are not a GHL Bank Account Holder
                </p>
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>Fill the form, providing us with information on your personal details, residential information, identification, employment and emergency contact</li>
                    <li>Please ensure you complete all required fields and click on the save and continue button</li>
                </ul>
                <h3>
                    Applying for a loan As
                    An existing GHL Bank client
                </h3>
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>Kindly enter your full name, your account number and customer ID</li>
                    <li>Enter the details for the loan application</li>
                    <li>Click save and submit to send your completed application to GHL Bank for processing</li>
                </ul>


                <h3>New Client</h3>
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>Ensure that you have completed the Profile Registration form</li>
                    <li>Enter the required details on the loan application form.</li>
                    <li>Click save and submit to send your completed application to GHL Bank for processing</li>
                </ul>
                <h3>Checking the status of your loan</h3>
                <ul class="lead" style="margin-left:30px" data-bullet="ti-arrow-right">
                    <li>Click on the @Html.ActionLink("My Applications","MyApplications","Home") link</li>
                    <li>Click on pending to see the latest update on your loan application</li>
                </ul>
            </div>
        </div>
    </div>
</section>


